[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
bpython = "*"
ipdb = "*"
flake8 = "*"
rope = "*"
isort = "*"

[packages]
gitpython = "*"
requests = "*"
fastapi = "*"
gunicorn = "*"
uvicorn = "*"
pydantic = {extras = ["dotenv"], version = "*"}

[requires]
python_version = "3"
