<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>OF Task Extractor</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>

    <style>
      body {
        background-color: #eee;
      }
    </style>

    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>

  <body>
    <div id="app">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <div class="container">
          <a class="navbar-brand" href="#">OF Task Extractor</a>
        </div>
      </nav>
      <main class="container">
        <form @submit.prevent="onSubmit">
          <div>
            <label class="form-label" for="project">Project</label>
            <input class="form-control" v-model="project" id="project" />
          </div>
          <div>
            <label class="form-label">Task</label>
          </div>
          <div
            class="input-group"
            v-for="task in tasks"
            style="width: 200px; float: left"
          >
            <input
              class="form-control"
              v-model="task.name"
              @change="onChange()"
            />
            <button
              type="button"
              class="btn btn-outline-secondary"
              @click="removeTask(task)"
            >
              -
            </button>
          </div>
          <button
            type="button"
            class="btn btn-outline-secondary"
            @click="addTask()"
          >
            +
          </button>
          <div style="clear: both">&nbsp;</div>
          <button type="submit" class="btn btn-primary mb-3" v-if="!submited">
            Enviar
          </button>
          <button
            class="btn btn-primary"
            type="button"
            disabled
            v-if="submited"
          >
            <span
              class="spinner-border spinner-border-sm"
              role="status"
              aria-hidden="true"
            ></span>
            Loading...
          </button>
        </form>

        <div v-for="task in response.tasks">
          <div class="card shadow">
            <div class="card-header">Task: {{task.task}}</div>
            <div class="card-body">
              <h5 class="card-title">Commits</h5>
              <div class="card-text">
                <ul>
                  <li v-for="commit in task.commits">{{ commit }}</li>
                </ul>
              </div>
            </div>
            <div class="card-footer">
              <h5 class="card-title">Files</h5>
              <ul>
                <li v-for="commit in task.files">{{ commit }}</li>
              </ul>
            </div>
          </div>
        </div>
      </main>
    </div>
  </body>
  <script src="static/index.js"></script>
</html>
